# filename = ".env"
# o arquivo ".env" verdadeiro tá no gitignore para não vazar no github
# Obtained at https://dev-portal.onshape.com/keys
ONSHAPE_API=https://cad.onshape.com
ONSHAPE_ACCESS_KEY=on_K8Tz1fD6pxuUb4SWM5PDM
ONSHAPE_SECRET_KEY=chave secreta